<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243264891168-pqh9k2k3f3c99ugl3dgd4ik9clmnksmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243264891168-pqh9k2k3f3c99ugl3dgd4ik9clmnksmk</string>
	<key>API_KEY</key>
	<string>AIzaSyD_sUAQPwlOXXCEQdHP1-Jzc0eqQynyKEg</string>
	<key>GCM_SENDER_ID</key>
	<string>243264891168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.markyjordan.Custom-Login-and-Signup</string>
	<key>PROJECT_ID</key>
	<string>custom-login-and-signup</string>
	<key>STORAGE_BUCKET</key>
	<string>custom-login-and-signup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243264891168:ios:9eba68d6aca2553c560f45</string>
	<key>DATABASE_URL</key>
	<string>https://custom-login-and-signup.firebaseio.com</string>
</dict>
</plist>